#portfolio {
    margin-top: 8rem;
}

.test {
    width: 70%;
    padding: 0 2rem;
    margin: 0 auto;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius:  2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3, .portfolio_item-unfinished h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta, .portfolio_item-cta-unfinished {
    display: flex;
    justify-content: space-around;
    gap: 1rem;       
    margin-bottom: 1rem; 
}
/*=============== UNFINISHED ===============*/
.portfolio_item-unfinished {
    background: #3d495c;
    padding: 1.3rem;
    border-radius:  2rem;
    border: 1px solid #393c47;
}

.portfolio_item-cta-unfinished a {
    background-color: #393c47;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    pointer-events: none;
}

.portfolio_item-cta-unfinished a:hover {
    background-color: #003be5;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    cursor: default;
}
.btn_enviar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  /*=============== MEDIA QUERIES { SMALL DEVICES} ===============*/
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .test {
        width: 100%;
        padding: 0 1rem;
        margin: 0 auto;
    }
}